CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts

# Files to ignore
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Directories
.cache/
crash-reports/

.DS_Store

# Binaries and Executables
*.a
*.dylib

*.dll
*.lib

*.so

GlowEngine_sandbox
*.app
*.exe
